.tab-wrap {
    display: flex;
    flex-wrap: wrap;
}
.tab-label {
    color: White;
    background: LightGray;
    margin-right: 5px;
    padding: 3px 12px;
    order: -1;
    border-radius: 50px;
}
.tab-content {
    width: 100%;
    display: none;
}

a:active{
  color : black;
}

/* 下線非表示 */
a {
  text-decoration:none;
}


/* アクティブなタブ */
.tab-switch:checked+.tab-label {
     display: block;
}

/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}

figure.gazo-box {
float: left;
padding-right: 20px;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.box1 p {
    margin: 0;
    padding: 0;
}
